@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700;900&family=Lora:wght@400;700&family=Montserrat:ital,wght@0,400;0,900;1,700&display=swap');

:root {
  --montserrat: 'Montserrat', sans-serif;
  --lora: 'Lora, serif';
  --crimson-pro: 'Crimson Pro', serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
